<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         colors="true"
         cacheResult="false"
         processIsolation="false"
         stopOnFailure="false"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         failOnWarning="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="PHPUnit DOM Assertions Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
